:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .cs{
    //border: 1px rgba(240, 30, 135, 0.486) solid;
    margin: 1vh;
      padding: 4vh;
      border-radius: 5px;
      display: flex;
    flex-direction: column;
  }