:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
//   .mat-form-field-infix {

//     border: 2px black solid;
//   }
//   ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
//     color: #46fb19 !important;
//   }
//   input:-internal-autofill-selected {
//     appearance: menulist-button;
//     background-image: none !important;
//     background-color: -internal-light-dark(#1313f1, #b98dbe) !important;
//     // color: fieldtext !important;
//     color: #46fb19 !important;
// }
// //   #f5f5f6
//   /* underline border color on focused */
//   ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
//     background-color: #fb2919 !important;
   
//   }
  
// .mat-from-field {
//     color: #ce0a93;
// }
// .mat-form-field-appearance-fill .mat-form-field-flex {
//     background-color: #f8f9fac9;
// }